<html>
<head></head>

<link rel="stylesheet" href="styles.css">
<body bgcolor='Black' text='Yellow'>
    {{>header}}
Developed for free use. The app uses API to display weather forecast calls.
<img src="/public/images/welcome.gif" name="amig" id="amig" align="center"  width="400" height="400">
<script type="text/javascript" src="./java/ajava.js"></script>
</body>
</HTML>