<html>
<head></head>

<link rel="stylesheet" href="styles.css">
<body>
    {{>header}}
    Just Enter the name of your current location and press submit.Please ensure that you enter full location otherwise the most popular location of the same name will be used.
     You will get the current weather forecast.The weather forecast is as forecasted by authorities and thus subject to natural factors.
    
   
 <img src="/public/images/welcome.gif" name="hmig" id="hmig" align="center"  width="400" height="400">
<script type="text/javascript" src="./java/hjava.js"></script>
</body>

</HTML>
