<html>
<head></head>

<link rel="stylesheet" href="styles.css">
<body>
    {{>header}}
    Just Enter the name of your current location and press submit. You will get the current weather forecast.
    
   
 <img src="/public/images/welcome.gif" name="hmig" id="hmig" align="center"  width="400" height="400">
<script type="text/javascript" src="./java/hjava.js"></script>
</body>

</HTML>