<html>
<head>
    
 </head>
  
<link rel="stylesheet" href="styles.css">

<body>
    
 <h1>   {{>header}} </h1>
 
<form>  
    <input placeholder="Location">
    <button>Submit</button>
</form>

<p id="m1" style="color: blue;"></p>
<p id="m2" style="color:red;"></p>
<img src="" name="mig" id="mig" align="center"  width="400" height="400">
<script type="text/javascript" src="./java/java.js"></script>

</body>
</HTML>